@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #fff;
	color: #4b5f5a;
	font-size: 100%;
	line-height: 1.25;
	font-family: 'Lato', Arial, sans-serif;
	position: relative;
}

a {
	color: #9baaa7;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #e88565;
}


.codrops-header {
	margin: 0 auto;
	padding: 2em 2em 0;
	text-align: center;
}

.codrops-header h1 {
	margin: 0;
	font-weight: 300;
	font-size: 2.5em;
	padding-top: 0.2em;
}

.codrops-header h1 span {
	display: block;
	padding: 0 0 0.6em 0.1em;
	font-size: 0.6em;
	opacity: 0.7;
}

/*Gallery*/
.gallery{
	display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: end;
	margin-top: 50px;
}
.gallery > img {
	border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    width: 100%;
	height: 100%;
}

/* Related demos */
.related {
	padding: 6em 2em;
	text-align: center;
}

.related p {
	font-size: 1.5em;
}

.related > a {
	border: 3px solid #8d9a97;
	display: inline-block;
	text-align: center;
	margin: 20px 10px;
	padding: 25px;
	color: #8d9a97;
	-webkit-transition: color 0.3s, border-color 0.3s;
	transition: color 0.3s, border-color 0.3s;
}

.related a:hover {
	color: #4b5f5a;
	border-color: #4b5f5a;
}

.related a img {
	max-width: 100%;
	opacity: 0.8;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.related a:hover img,
.related a:active img {
	opacity: 1;
}

.related a h3 {
	margin: 0;
	padding: 0.5em 0 0.3em;
	max-width: 300px;
	text-align: left;
}

.related p{
	margin-bottom: 50px;
}

.foot{
	background-color: rgba(180, 180, 180, 0.3);
	border-top: 1px solid #aaa;
	text-align: center;
	padding: -5px 0px 20px 0px;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}

.foot h5{
	margin-top: 15px;
	margin-bottom: 3px;

}
.foot p{
	margin-top: 0px;
	margin-bottom: 15px;
}

#cdawrap {
	top: 550px !important;
	background: #f0f0f0 !important;
}

#aboutPic{
	width: 200px;
	height: 200px;
	border-radius: 100px;
}

@media(min-width: 900px ){

}

.content{
	max-width:980px;
	margin:auto;
}

.display-container{
	position:relative
}

.button{
	border:none;
	display:inline-block;
	outline:0;
	padding:8px 16px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:inherit;
	background-color:inherit;
	text-align:center;
	cursor:pointer;
	white-space:nowrap
}

.button{
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}

.button:hover{
	color:#000!important;
	background-color:#ccc!important
}

.black, .hover-black:hover{
	color:#fff!important;
	background-color:#000!important
}

.display-left{
	position:absolute;
	top:50%;
	left:0%;
	transform:translate(0%,-50%);
	-ms-transform:translate(-0%,-50%)
}
.display-right{
	position:absolute;
	top:50%;
	right:0%;
	transform:translate(0%,-50%);
	-ms-transform:translate(0%,-50%)
}
